  <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Inter", sans-serif;
        }

        body {
            background: #f3f6fa;
            color: #333;
        }

        header {
            background: #1f4e79;
            color: #fff;
            padding: 22px;
            text-align: center;
            margin-bottom: 25px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        nav { margin-top: 15px; }

        nav button {
            margin: 5px;
            padding: 10px 20px;
            background: #fff;
            border: none;
            color: #1f4e79;
            font-weight: bold;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
        }

        nav button:hover {
            background: #d6e6ff;
        }

        .section {
            display: none;
            width: 90%;
            max-width: 900px;
            margin: auto;
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px #0002;
        }

        .section.active { display: block; }

        h2 {
            margin-bottom: 20px;
            color: #1f4e79;
        }

        .input-group { margin-bottom: 15px; }

        .input-group label { font-weight: bold; }

        .input-group input {
            width: 100%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #bbb;
            margin-top: 5px;
        }

        .btn {
            padding: 12px 20px;
            background: #1f4e79;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
        }

        .btn:hover { background: #163b5b; }

        .search-box {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            margin-bottom: 20px;
        }

        .btn-listar {
            grid-column: 1 / 3;
            background: #2d7bd3;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        thead {
            background: #1f4e79;
            color: #fff;
        }

        td, th {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        .action-btn {
            padding: 6px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .edit { background: #ffa500; color:white; }
        .delete { background: #d9534f; color:white; }

        .msg {
            margin-top: 15px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>